
body {
    font-family: Arial, sans-serif; 
   }
div {
    width: 80%;
     margin: auto; padding: 25px; 
     border: solid black thin; background-color: #f4f4f4;
   }
  p{ 
   width: 80%; 
   margin: auto;
    padding: 15px; 
    border: solid #ddd;
    border-width: 2px; 
   }
h3 { 
  
   color: darkblue;
}
h1{
font-size: 30px;
color:maroon ;
}
img{
height:100px;
}
.head{
display: flex; 
justify-content: space-between; 
align-items: center;
margin-left: 350px;
margin-top: -40px;
}

